@import "../../styles/components/variable.module.scss";

.card {
  background-color: #ffffff10;
  border-radius: 5px;
  backdrop-filter: blur(1px);
  height: 250px;
  padding: 1rem;
  width: 170px;
  box-shadow: 0 2px 2px $bg-light;

  .card_img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .desc {
    font-size: 0.9rem;
    padding-top: 1rem;
  }
}
