@import "../../styles/components/variable.module.scss";
.sidebar_content {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  font-size: 0.9rem;
  color: $secondary;

  .link_route {
    color: $secondary;
    text-decoration: none;
  }
}
