@import "../../styles/components/variable.module.scss";

.home {
  background-color: $bg-2;
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 2rem;
    gap: 2rem;

    .card {
      background-color: #ffffff10;
      border-radius: 5px;
      backdrop-filter: blur(1px);
      height: 250px;
      padding: 1rem;
      width: 170px;
      box-shadow: 0 2px 2px $bg-light;
      cursor: pointer;
      position: relative;

      .card_img {
        height: 70%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
      .desc {
        font-size: 0.9rem;
        padding-top: 1rem;
      }
    }
    .playOver {
      opacity: 0;

      .playIcon {
        text-align: center;
        margin-top: 50%;
        font-size: 3rem;
        color: $green;
        opacity: 1;
      }
    }
    .card:hover .playOver {
      transition: 0.2s;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      opacity: 0.8;
      background-color: $bg;
    }
  }
}
