@import "../../styles/components/variable.module.scss";
.aside {
  position: fixed;
  padding: 0 2rem;

  .left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 4rem;
  }

  .logo {
    color: $green;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2rem;

    .logo_text {
      color: $primary;
    }
  }
  .search {
    background-color: $bg-2;
    border: none;
    height: 34px;
    width: 100%;
    border-radius: 10px;
    margin-top: 2rem;
    color: $primary;
    text-indent: 1rem;
  }
  .search:focus {
    outline: none;
  }
}
